@import "../scss/variables";
@import "../scss/mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    }


html {
    font-family: 'Raleway', sans-serif;
    }


.container {
    max-width: 1170px;
    padding: 0 $_15px;
    margin: auto;
    }


.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &:after {
        content: " ";
        background-color: $grey;
        width: 100%;
        height: 1px;
        display: block;
        position: absolute;
        bottom: 15;
        }
    }


.header-bg {
    background-image: url(../img/background-header.png);
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        background:$dark-blue;
        z-index: -1;
          }
    }  
      

.header__logo {
    color: $grey;
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: $grey-log;
    }


.header-logo__weight {
    color: $white;
    font-weight: 100;
    }

.links {
    text-decoration:none; 
    color:$white;
    width: 134px;
    font-size: $_13px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
     text-align: center;
    color: $white;
    padding-top: 36px;
    &:after {
        display: block; 
        content: ""; 
        height: 3px; 
        width: 0%;
        margin-top: 32px;
        background-color: $grey-middle; 
        transition: 0.4s; 
        }  
    &:hover:after,
    &:active:after {
        width: 100%;
        }
    &:hover{
        color: $white;
    &:after{
        background-color:$grey-middle;
        }
        }
    &:active{
        color: $red-active;
    &:after{
    background-color:$red-active;
        }
        }
        }
      

.main-title {
     @include h1;
    }


.main-text {
    color:$white;
    text-align: center;
    font-family: Raleway;
    font-size: $_24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top:30px;
    align-self: center;
    }
      
.btn-header {
    height: 80px;
    width: 370px;
    background-color: $red-active;
    color: $white;
    border: none;
    align-self: center;
    margin: 80px 0 125px;
    text-align: center;
    font-family: Raleway;
    font-size: $_24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    &:hover{
        background-color: $red-hover;
        }
    &:active{
        background-color: $red-active;
        box-shadow: 0px 0px 20px 10px rgb(221, 66, 66);
        }
      }

      @media(max-width:320px){
        .main-screen{
          text-align: center;
          padding-top: 0;
          align-self: center;
        }
        .main-text{
      margin-bottom: 49px;
        }
        .backround-header{
          border-bottom: 1px solid;
          border-image: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
          }
          .links{
            text-align: left;
          }
      }


.cards {
    text-align: center;
    margin-top: 116px;
    margin-bottom: 26px;
    &-column{
        margin-bottom: 88px;
        }
    &-name{
        text-align: center;
        font-family: Raleway;
        font-size: $_24px;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        color: $black;
        margin-top: 50px;
        margin-bottom: 40px;
        }
    &-description{
        color:$grey-log;
        text-align: center;
        font-family: Raleway;
        font-size: $_18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        }
        }
        

        @media(max-width:320px){
          .cards{
            flex-wrap: wrap;
            margin:40px 0 35px 0;
            &-name{
              margin:37px 0 9px 0;
            }
            &-column{
              margin-bottom: 41px;
            }
            &-description{
              margin:0;
            }
          }
        }


.container-grid {
    max-width: 100%;
    }


.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
    cursor: pointer;
    overflow: hidden;
    }


.grid__img {
    width: 378px;
    height: 340px;
    object-fit: cover;
    display: block;
    }


.grid-item {
    position: relative;
    display: inline-block;
    overflow: hidden;
    position: relative;
    font-size: 24px;
}


.grid-mask {
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height:100%;
    color:white;
    font-size: 24px;
    font-weight: 900;
    background-color: $red-active;
    padding-top: 126px;
    text-align: center;
    opacity: 0;
    transform:rotateY(90deg);
    -webkit-transition:all .5s;
    -o-transition:all .5s;
    transition: all .5s;
    }
  

.grid-title {
    @include h4;
    }
  

.grid-text {
    @include h5;
    }

.grid-item:hover .grid-mask{
    opacity: 0.6;
    transform:rotateY(0deg);
    &:active{
        opacity: 0.8;
        background-color: $red-hover;
        }
    }

    @media(max-width:320px) {
        .grid {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            height: 100%;
          }
          .child {
            width: 160px;
            height: 144px;
            width: 50%;
          }
          .grid__img {
            width: 160px;
            height: 144px;
          }
    }
       
      


.employee{
    margin: 114px 0 ;
    &-name{
    color: $dark-grey;
    font-family: Raleway;
    font-size: $_24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    margin: 30px 0 5px 0;
        }
    &-title{
        color: $red;
        font-family: Raleway;
        font-size: $_18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin:0;
        }
    &-review{
        color: #6C7279;
        font-family: Raleway;
        font-size: $_18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 18px 0 40px 0;
        }
        }


.employee-photo {
    width: 255px;
    height: 255px;
    overflow: hidden;
}


.employee-photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    }


    @media(max-width:320px){
        .employee{
          margin: 34px 0 41px 0;
          &-photo{
            width: 100%;
            
           }
           &-name{
            margin-top:25px;
           }
           &-review{
            margin:38px 0 55px 0;
           }
           &-column{
            margin-bottom: 56px;
           }
           &-column:last-child{
          margin-bottom: 0;
           }
        }
      }


      @media(max-width: 1024px){
        .employee{
          margin: 34px 0 41px 0;
          &-photo{
            width: 100%;
            
           }
           &-name{
            margin-top:25px;
           }
           &-review{
            margin:38px 0 55px 0;
           }
           &-column{
            margin-bottom: 56px;
           }
           &-column:last-child{
          margin-bottom: 0;
           }
        }
      }


.col-sm-3 {
    padding: 0 15px;
    }
       

.container-slide {
    max-width: 100%;
    }


.img-carousel{
    max-width: 55%;
    background-size: cover;
    overflow: hidden;
    }


.bg-carousel{
    width: 55%;
    padding: 116px 170px 116px 130px;
    background-color: #5C3249;
    color:$white;
    &-term{
    color: $white;
    font-family: Cardo;
    font-size: $_36px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    }
    &-author{
        font-family: Raleway;
        font-size: $_13px;
        font-weight: 700;
        line-height: 15px;          
        }
    }

 
.carousel-indicators [data-bs-target] {

    background: lightblue; 
    border-radius: 50%; 
    // width: 10px; 
    // height: 10px;
    // top: 110%;
}


.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: $white;
    // top: 110%;
}


    @media(max-width:320px){
        .carousel-item {
            display: flex;
            flex-wrap: wrap;


            width: 320px;
            height: 538px;
        }
    }


.action{
      margin: 114px 0;
      &-name{
        color: $black;
        text-align: center;
        font-family: Raleway;
        font-size: $_30px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 25px;
        }
        &-description{
            color: $black;
            text-align: center;
            font-family: Raleway;
            font-size: $_18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
            margin-bottom: 50px;
        }
      }
      

.btn-action{
      height: 80px;
      width: 370px;
      background-color: $red-bg;
      color: $white;
      text-align: center;
      font-family: Raleway;
      font-size: $_24px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
      align-self: center;
      }


    @media(max-width:320px){
        .action{
          margin:67px 0 45px 0;
          box-sizing: border-box;
          &-description{
            margin:20px 0 11px 0;
            width: 100%;
            font-size: $_13px;
          }
          &-name{
            width: 100%;
            font-size: $_18px;
          }
        }
        .btn-action {
            margin-top: 11px;
            font-size: $_18px;
        }
      }


      @media(max-width:1024px){
        .action{
          margin:110px 0 78px 0;
          box-sizing: border-box;
          &-description{
            margin:20px 0 11px 0;
            width: 100%;
            font-size: $_13px;
          }
          &-name{
            width: 100%;
          }
        }
      }


.container-footer {
    max-width: 100%;
    }


.bg-prefooter {
    background-color: $blue-pf;
    text-align: center;
    padding: 71px 0 67px 0;
    align-self: center;
    display: flex;
    justify-content:space-between;
    }


.prefooter-name{
    color: $white;
    text-align: center;
    font-family: Raleway;
    font-size: $_18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
    &-description{
        @include h5;
      }
    }


.icons-card-footer {
    margin-top: 50px;
    }


.social-icon {
    margin: 0 27px;
    }


.bg-footer {
    background-color:$blue-ft;
    text-align: center;
    padding: 24px 0 24px 0;
    }


.footer-name {
    color: $grey;
    font-family: Raleway;
    font-size: $_18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 0;
    }


span{
    color:$white;
    }


    @media(max-width:320px){
        .bg-prefooter{
          padding:34px 20px 33px 20px;
        }
        .prefooter-name{
          margin-bottom: 35px;
        }
        .social{
          margin: 69px 0 59px 0;
        }
        .bg-footer{
          padding:29px 20px 6px 20px;
        }
        .footer-name {
          font-size: $_14px; 
          margin-bottom: 30px; 
        }
        }

        @media(max-width:1024px){
            .bg-prefooter{
              padding:50px 30px 33px 40px;
            }
            .prefooter-name{
              margin-bottom: 35px;
            }
            .social{
              margin: 69px 0 59px 0;
            }
            .bg-footer{
              padding:29px 20px 6px 20px;
            }
            .footer-name {
              font-size: $_14px; 
              margin-bottom: 30px; 
            }
            }