@import "../scss/variables";
@import "../scss/mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    }


html{
    font-family: 'Raleway', sans-serif;
    }


.container {
    padding: 0 $_15px;
    margin: auto;
    }


.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    &:after {
        content: " ";
        background-color: $grey;
        width: 100%;
        height: 1px;
        display: block;
        position: absolute;
        bottom: 15;
        }
    }


.header-bg {
    background-image: url(../img/background-header.png);
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        bottom: 0;
        background:$dark-blue;
        z-index: -1;
          }
    }  
      

.header__logo {
    color: $grey;
    font-family: Raleway;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    color: #656980;
}


.header-logo__weight {
    color: $white;
    font-weight: 100;
}

.links {
        text-decoration:none; 
        color: white;
        width: 134px;
        font-size: 13px;
        font-weight: 700;
        line-height: 15px;
        text-align: center;
        color: $white;
        text-transform: uppercase;
        padding-top: 36px;
        &:after {
          display: block; 
          content: ""; 
          height: 3px; 
          width: 0%;
          margin-top: 32px;
          background-color: $grey-middle; 
          transition: width 0.4s ease-in-out; 
          }
      
        &:hover:after,
        &:active:after {
          width: 100%;
          }
        &:hover{
        color: $white;
            &:after{
              background-color:#BABBC5;
            }
          }
        &:active{
          color: $red-active;
            &:after{
              background-color:$red-active;
            }
          }
        }
      

    .main-text{
      Font-size: 24px;
      Line-height: 28px;
      color:$white;
      margin:23px 0 64px 0;
      }
      
    .btn-header{
      height: 80px;
      width: 370px;
      background-color: $red-hover;
      font-size: 24px;
      font-weight: 900;
      line-height: 28px;
      color: $white;
      border: none;
      align-self: center;
      margin-bottom: 120px;
      
      }